# .env (add to .gitignore!)
BASE_URL=https://automationexercise.com
VALID_EMAIL=
VALID_PASSWORD=
VALID_NAME=
VALID_DAY=
VALID_MONTH=
VALID_YEAR=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Payment Information (Test Cards)
TEST_CARD_NUMBER=
TEST_CARD_CVC=
TEST_CARD_EXPIRY_MONTH=
TEST_CARD_EXPIRY_YEAR=
TEST_CARD_NAME=

# Billing Address & Delivery Address
BILLING_FIRST_NAME=
BILLING_LAST_NAME=
BILLING_COMPANY=
BILLING_ADDRESS_1=
BILLING_ADDRESS_2=
BILLING_CITY=
BILLING_STATE=
BILLING_COUNTRY=
BILLING_ZIPCODE=
BILLING_PHONE=
DELIVERY_FIRST_NAME=
DELIVERY_LAST_NAME=
DELIVERY_COMPANY=
DELIVERY_ADDRESS_1=
DELIVERY_ADDRESS_2=
DELIVERY_CITY=
DELIVERY_STATE=
DELIVERY_COUNTRY=
DELIVERY_ZIPCODE=
DELIVERY_PHONE=